6. 문제 보여야 함
7. 답 확인 해야함 - 정답자 점수 주기
8. 누가 맞췄는지 구현(먼저 정답으로 보내고 기본 채팅으로 보내기) (제일 중요)
4. 채팅창 스크롤 해야함
--
1. 그림이 같이그려짐
2. 늦게 들어온 유저는 원래 있떤 사람이 안보임(+ 펜 크기를 바꾸면 적용이 안됨)
3. 4명이 차기전 그림그리기 안되게 하기

5. 한붓 그리기가 적용되어 있음(수정 바람)



9. 그림그리는 턴(1,2,3,4) 구현 해야 함(버튼도 막아라)
10. 라벨은 내려서 가짜 이미지 넣기
11. 버튼 이쁘게
12. 시스템 메시지는 피맛나게(특별하게, 새콤하게, 달콤하게) 나의 멍색갈 RGB(100, 0 ,200

---
패스버튼 만들기